#intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

#play-button {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 50px;
}
