nav {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  background: yellow;
  transform: translateX(100%);
  transition: all .2s ease-in-out;
  overflow: scroll;  
}
nav.show {
  transform: translateX(0);
}


#nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1900;
}